

<div class="container topPadTable">
  <h2 class="text-center">Companies</h2>
  <button class="btn-default" (click)="onEdit()"><i class="fa fa-pencil"></i></button>
  <hr>
{{totalItems}}
  <table  class="table table-hover table-responsive table-condensed">
    <thead>
    <tr>
      <th>Image</th>
      <th>Form ID</th>
      <th>Text Input One</th>
      <th>Text Input Two</th>
      <th>Owner</th>
      <th>Date Submitted</th>
      <th>Date Edited</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let companie of fetchedCompanies | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }">
      <td class="img-resized"><img class="img-thumbnail img-responsive" src="./uploads/forms/" onerror="this.src ='assets/images/no-image-found.jpg'"></td>
      <td>{{companie._id }}</td>
      <td>{{companie.text}}</td>
      <td>{{companie.region_id}}</td>
      <td>{{companie.address}}</td>


      <td>
        <button class="btn-default" (click)="onEdit(companie._id)"><i class="fa fa-pencil"></i></button>
      </td>
      <td>
        <button class="btn-danger" (click)="onDelete(companie._id)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="has-text-centered">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }">Loading...</div>
      <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>

</div>
