<div class="container topPad">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="onl_loginForm" novalidate>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" formControlName="email"  placeholder="Email" class="form-control">
  </div>
  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Please enter a valid email format</div>
  <span class="help-block"></span>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input type="password" formControlName="password"  placeholder="Κωδικός" class="form-control">
  </div>
  <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password must contain 8 or more characters</div>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!myForm.valid">Login</button>
</form>
</div>
