<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Hi there!</h4>
</div>
<div class="modal-body">
  <p>Hello, {{companie.text}}!</p>
  <p>{{companie._id}}</p>
  <p>{{companie.text}}</p>
  <p>{{companie.address}}</p>
  <p>{{companie.region_id}}</p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
