<app-navbar></app-navbar>
<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-horizontal register-form" novalidate>
    <fieldset>

      <!-- Form Name -->
      <legend class="text-center topPad">Uploading And Saving Images to File System and Store Path to Mongo DB</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput1">Text Input One:</label>
        <div class="col-md-4">
          <input id="textinput1" #textOne formControlName="textInput1" name="textinput1" type="text" placeholder="enter text" class="form-control input-md">
          <div [hidden]="textInput1.valid || textInput1.pristine" class="alert alert-danger">Please enter some text</div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput2">Text Input Two:</label>
        <div class="col-md-4">
          <input id="textinput2" formControlName="textInput2" name="textinput2" type="text" placeholder="enter text" class="form-control input-md">
          <div [hidden]="textInput2.valid || textInput2.pristine" class="alert alert-danger">Please enter some text</div>
        </div>
      </div>

      <!-- File Button -->
      <div class="form-group">
        <div class="col-md-4 col-centered">
          <button type="button" class="btn">
            <input #fileinput name="fileUp" type="file" (change)="onFileSelect($event)">
          </button>
          <div *ngIf="hasFiles()">
            <div *ngFor="let file of files">
              <img [src]="file.objectURL " *ngIf="isImage(file)" class="img-thumbnail img-responsive topMargin"><br>
              <div>
                <button type="button" class="btn-danger topMargin" (click)="remove(i)">Remove Image</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-4 col-centered">
          <button type="submit" [disabled]="!myForm.valid || !hasFiles()" id="submitForm" name="sumbitForm" class="btn btn-primary text-center bottomMargin">Submit</button>
          <br/>
          <progress-bar [value]="progress" [max]="100" *ngIf="hasFiles() && submitStarted"></progress-bar>
        </div>
      </div>
    </fieldset>
  </form>
</div>
