<app-navbar></app-navbar>
<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend class="text-center topPad">Uploading And Saving Images to File System and Store Path to Mongo DB</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput1">Text Input One</label>
      <div class="col-md-4">
        <input id="textinput1" name="textinput1" type="text" placeholder="enter text" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput2">Text Input Two</label>
      <div class="col-md-4">
        <input id="textinput2" name="textinput2" type="text" placeholder="enter text" class="form-control input-md">
      </div>
    </div>

    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="filebutton">File Button</label>
      <div class="col-md-4">
        <input id="filebutton" name="filebutton" class="input-file" type="file">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submitForm">Submit Form</label>
      <div class="col-md-4">
        <button type="button" id="submitForm" name="sumbitForm" class="btn btn-primary">Button</button>
      </div>
    </div>

  </fieldset>
</form>
