<app-navbar></app-navbar>
<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmitEditedForm()" *ngFor="let form of fetchedForm" class="form-horizontal register-form" novalidate>
    <fieldset>
      <legend class="text-center topPad">Edit Form with id: {{form._id}}</legend>
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput1">Text Input One:</label>
        <div class="col-md-4">
          <input id="textinput1" #textOne formControlName="textInput1" name="textinput1" type="text"  [(ngModel)]="form.textInputOne" class="form-control input-md">
          <div [hidden]="textInput1.valid || textInput1.pristine" class="alert alert-danger">Please enter some text</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput2">Text Input Two:</label>
        <div class="col-md-4">
          <input id="textinput2" formControlName="textInput2" name="textinput2" type="text" [(ngModel)]="form.textInputTwo" class="form-control input-md">
          <div [hidden]="textInput2.valid || textInput2.pristine" class="alert alert-danger">Please enter some text</div>
        </div>
      </div>

      <!-- File Button -->
      <div class="form-group">
        <div class="col-md-4 col-centered">
          <button type="button" class="btn">
            <input #fileInput name="fileUp" type="file" (change)="onFileSelect($event)">
          </button>
          <div>
            <h5>Current Image:</h5>
            <img class="img-thumbnail img-responsive" src="./uploadsFolder/{{form.owner}}/{{form.imagePath}}"><br><br>
          </div>
          <div *ngIf="hasFiles()">
            <div *ngFor="let file of files">
              <h5>New Image Preview:</h5>
              <img [src]="file.objectURL " *ngIf="isImage(file)" class="img-thumbnail img-responsive topMargin"><br>
              <div>
                <button type="button" class="btn-danger topMargin" (click)="remove(i)">Remove Image</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <div class="col-md-4 col-centered">
          <button type="submit" [disabled]="!myForm.valid && myForm.untouched" id="submitForm" name="sumbitForm" class="btn btn-primary text-center bottomMargin">Submit</button>
          <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
          <br/>
          <br/>
          <progress-bar [value]="progress" [max]="100" *ngIf="hasFiles() && submitStarted"></progress-bar>
        </div>
      </div>
    </fieldset>
  </form>
</div>
