<app-navbar></app-navbar>
<div class="container topPad">
  <h5 class="text-center">Please fill in your email and we will send you an email containing password reset instructions</h5>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form form" novalidate>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
      <input type="text" formControlName="email" placeholder="Email" class="form-control" autofocus autocapitalize="none"
             autocomplete="off"
             spellcheck="false"
             autocorrect="none">
    </div>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Please enter a valid email</div>
    <span class="help-block"></span>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>

