<div class="container topPadTable">
  <h2 class="text-center">Options: Administrator Page</h2>
  <hr>
  <!-- Form Name -->

</div>

<app-form></app-form>
<app-user-form
  (onPassForm)="onPassForm($event)"
>
</app-user-form>


<div class="container">
  <h1>Design</h1>
  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
    <div class="form-group">
      <div ngModelGroup="fetchedObj">
        <div ngModelGroup="design">
          <div ngModelGroup="mainPage">
              <label>Name</label>

              <input type="text" class="form-control"
                name="imgLeft" [(ngModel)]="fetchedObj.design.mainPage.imgLeft"
                #name="ngModel" required minlength="5">
              <small [hidden]="name.valid || (name.pristine && !f.submitted)" class="text-danger">
                    Name is required (minimum 5 characters).
              </small>
              <!--<pre>{{name.errors | json}}</pre>-->
          </div>
        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <button md-button (click)="openDialog()">Launch dialog</button>
  <div class="margin-20">
    <div>Form details:</div>
    <pre>Is form valid?: <br>{{f.valid | json}}</pre>
    <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
    <pre>form value: <br>{{f.value | json}}</pre>
  </div>
</div>
