<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0;">
  <meta name="format-detection" content="telephone=no"/>
</head>
<body>
<div style="width:100%;max-width:600px">
  <div style="padding:20px 5%;background-color:#fff;margin:0 auto;color:#343434;font-family:Arial;font-size:14px;line-height:150%">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin-bottom:0px;max-width:600px" width="100%">
      <tbody>
      <tr>
        <td align="center" class="m_1012463436748853728email_section" style="border-collapse:collapse;padding:0px;padding-bottom:5px;margin:0;border:0;border-bottom:1px solid #dddddd" valign="top">
          <p>ngx-Form</p>
        </td>
      </tr>
      </tbody>
    </table>
    <span style="font-family:Roboto,sans-serif;color:#333;font-weight:300;font-size:14px;display:block;padding:10px 0">
Welcome to ngx-form,
</span>
    <span style="font-family:Roboto,sans-serif;color:#333;font-weight:300;font-size:14px;display:block;padding:10px 0">
      Welcome to ngx-form, we wish you a pleasent stay... If you need support please email us at <a href="mailto:info@info.xxx" target="_blank" style="color: #127DB3; font-family: Roboto,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.1em;">info@info.xxx</a>
          <span style="color: white;font-size:0">{{uid}}</span>
</span>
    <p style="text-align:center;margin:14px 0">
      <a href="http://localhost:3000/#/" style="background:#1edaba;color:#fff;margin:0 auto;padding:12px 20px;display:inline-block;text-decoration:none;font-family:Roboto,sans-serif;font-weight:400;font-size:19px;text-align:center;line-height:1.1em;border-radius:4px" target="_blank">
        Go to ngx-Form
      </a>
    </p>
    <br>
    <br>
    <span style="font-family:Roboto,sans-serif;color:#333;font-size:14px;font-weight:300;font-style:normal;width:auto;display:inline">Best Regards,</span>
    <br>
    <span style="font-family:Roboto,sans-serif;color:#333;font-size:14px;font-weight:100;font-style:normal;width:auto;display:inline"><b style="font-family:Roboto,sans-serif;color:#333;font-size:14px;font-weight:600;font-style:italic;width:auto;display:inline">ngx-Form Team</b>
</span>
    <div style="border-top:1px solid #eee;text-align:center;margin-top:30px">
      <div style="color:#999;text-align:center;margin:0 10%">
        <p style="font-family:Roboto,sans-serif;font-weight:300;font-size:12px;color:#999">
          This email has been sent to you because you or someone else registered to ngx-Form.
          <span style="color: white;font-size:0">{{uid}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
