<div class="container topPad">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="register-form form" novalidate>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input #userPassword type="password" formControlName="currentPassword" placeholder="Current Password" class="form-control">
    </div>
    <div [hidden]="currentPassword.valid || currentPassword.pristine" class="alert alert-danger">Password must contain 6 or more characters</div>
    <span class="help-block"></span>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="password" formControlName="newPassword" placeholder="New Password" class="form-control">
    </div>
    <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">Password must contain 6 or more characters</div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!resetPasswordForm.valid">Change Password</button>
  </form>
</div>
