/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.col-centered {
  margin: 0 auto;
  float: none;
}

a.active {
  font-weight: bold;
}

.topPad {
  margin-top: 150px;
}

.topPadTable {
  margin-top: 90px;
}

.table-responsive {
  border: 0;
}

.lostPassword {
  margin-top: 20px;
}

.form-control {
  border-radius:  0;
}

.btn {
  border-radius: 0;
}

.btn-default {
  border: 0;
  background-color: lightblue;
}

.btn-default:hover {
  background-color: lightskyblue;
}

.btn-danger {
  border-width: 0;
}

.jumbotron {
  border-radius: 0 !important;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

body {
  /*background: #76b852; !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);*/
  /*background: -moz-linear-gradient(right, #76b852, #8DC26F);*/
  /*background: -o-linear-gradient(right, #76b852, #8DC26F);*/
  /*background: linear-gradient(to left, #76b852, #8DC26F);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


