<app-navbar></app-navbar>
<div class="container topPadTable">
  <table class="table table-hover table-responsive table-condensed">
    <thead>
    <tr>
      <th>Image</th>
      <th>Form ID</th>
      <th>Text Input One</th>
      <th>Text Input Two</th>
      <th>Owner</th>
      <th>Date Submitted</th>
      <th>Date Edited</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let form of fetchedForms">
      <td class="img-resized"><img class="img-thumbnail img-responsive" src="./uploadsFolder/{{form.owner}}/{{form.imagePath}}"></td>
      <td>{{form._id }}</td>
      <td>{{form.textInputOne}}</td>
      <td>{{form.textInputTwo}}</td>
      <td>{{form.owner}}</td>
      <td>{{form.dateSubmitted | date: 'medium'}}</td>
      <td>
        <span *ngIf="form.dateSubmitted != form.updatedAt">{{form.updatedAt | date: 'medium'}}</span>
      </td>
      <td>
        <button class="btn-default" [routerLink]="['edit', form._id]"><i class="fa fa-pencil"></i></button>
      </td>
      <td>
        <button class="btn-danger" (click)="onDelete(form._id)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
